<section id="seccionfinal">

    <img src="https://res.cloudinary.com/dspugxtgr/image/upload/v1687838965/Logo_yfgnqs.jpg" alt="" id="logo3">
    

    </section>

    <div class="clear"></div> 
    
    
    <section id="metodos">

        
        <img src="https://res.cloudinary.com/dspugxtgr/image/upload/v1687838964/efecty_epowhv.png" alt="" id="efecty">
        <img src="https://res.cloudinary.com/dspugxtgr/image/upload/v1687838965/mastercard_sqjpdx.jpg" alt="" id="master">
        <img src="https://res.cloudinary.com/dspugxtgr/image/upload/v1687838966/Paypal_vhbj3x.jpg" alt="" id="paypal">
        <img src="https://res.cloudinary.com/dspugxtgr/image/upload/v1687838966/pse_isoond.jpg" alt="" id="pse">
        <img src="https://res.cloudinary.com/dspugxtgr/image/upload/v1687838968/visa_eodsoc.jpg" alt="" id="visa">

    </section>
 
<div class="clear"></div>



<footer>

    <p id="pfinal"><b>&copy; 2023 Ecotecnology. <br> <br> Todos los derechos son reservados</b></p>

</footer>
