footer{
    background-color: rgb(14, 111, 156);
    margin: 30px 0px 0px 0px;
    height: 100px;
    color: #fff;
    font-size: 20px;
}

#seccionfinal img{
    border-radius: 20px;
    margin: 15px 0px 0px 720px;
}

#metodos{
    margin-left: 610px;
    margin-top: 50px;
}

#metodos img{
    border-radius: 50px;
    margin: 0px 0px 0px 20px;
    height: 100px;
    width: 110px;
}

#pfinal{
    padding-top: 10px;
    text-align: center;
    width: auto;
}