<div id="header">
  <ul class="nav">
      <li><a [routerLink]="[ '/home']" class="htitulos">Inicio</a></li>
      


      <li><a href="" class="htitulos">Computadores🔻</a>
          <ul>
              <li><a href="">1</a> </li>
              <li><a href="">2</a></li>
              <li><a href="">3</a></li>
              <li><a href="">4</a></li>
          </ul>
      </li>


      <li><a href="" class="htitulos">Pantallas🔻</a>
          <ul>
              <li><a href="">11</a></li>
              <li><a href="">22</a></li>
              <li><a href="">33</a></li>
              <li><a href="">44</a></li>
          </ul>
      </li>

      <li><a href="" class="htitulos">Chasis🔻</a>
          <ul>
              <li><a href="">11</a></li>
              <li><a href="">22</a></li>
              <li><a href="">33</a></li>
              <li><a href="">44</a></li>
          </ul>
      </li>


      <li><a href="" class="htitulos">Perifericos🔻</a>
          <ul>
              <li><a href="">11</a></li>
              <li><a href="">22</a></li>
              <li><a href="">33</a></li>
              <li><a href="">44</a></li>
          </ul>
      </li>


      <li><a href="" class="htitulos">Sillas🔻</a>
          <ul>
              <li><a href="">11</a></li>
              <li><a href="">22</a></li>
              <li><a href="">33</a></li>
              <li><a href="">44</a></li>
          </ul>
      </li>


  </ul>

</div>

<div class="clear"></div>

<section id="carrusel">
  <ul>
      <li><img class="tecladod" src="https://res.cloudinary.com/dspugxtgr/image/upload/v1687838967/teclado_inoxql.jpg" alt=""></li>
      <li><img class="pc" src="https://res.cloudinary.com/dspugxtgr/image/upload/v1687838966/pc_ih5hbd.jpg" alt=""></li>
      <li><img class="mouse" src="https://res.cloudinary.com/dspugxtgr/image/upload/v1687838966/mouse_stwbrq.jpg" alt=""></li>
  </ul>
</section>

<div class="clear"></div>

<section id="seccion">
  <p id="nuevo">¡Productos!</p>
</section>

<div class="clear"></div>


  <section class="cuadro">
  </section>
  <div id="contenedor">
    <div *ngFor="let producto of productos" class="producto">
      <img [src]="producto.img" alt="" class="imgp">
      <h3 class="titulop1">{{producto.nombre}}</h3>
      <p class="precioProducto" id="precio">{{producto.precio}} $</p>
      <button class="carritop3" id="agregar2"><a [routerLink]="['/Producto', producto.id]" id="vermasPro">Ver mas</a></button>
    </div>
  </div>
  



<div class="clear"></div>

<a id="vermas" href="">Ver más</a>
<hr class="linea">
<div class="clear"></div>


<section id="marcas">



  <a href="https://www.acer.com/es-es"><img src="https://res.cloudinary.com/dspugxtgr/image/upload/v1687838964/acer_yadjet.png" alt="" id="acer"></a>

  <a href="https://www.asus.com/co/"><img src="https://res.cloudinary.com/dspugxtgr/image/upload/v1687838964/asus_nnc2mf.png" alt="" id="asus"></a>

  <a href="https://www.dell.com/es-co/dt/index.htm"><img src="https://res.cloudinary.com/dspugxtgr/image/upload/v1687838964/Dell_nv1nwp.png" alt="" id="dell"></a>

  <a href="https://www.intel.la/content/www/xl/es/homepage.html"><img src="https://res.cloudinary.com/dspugxtgr/image/upload/v1687838965/intel_gpmmut.png" alt=""
          id="intel"></a>

  <a href="https://latam.msi.com/"><img src="https://res.cloudinary.com/dspugxtgr/image/upload/v1687838966/msi_ijq5kc.png" alt="" id="msi"></a>

  <a id="vermas" href="">Ver más</a>

  <hr class="linea">


</section>


<div class="clear"></div>


<section id="informacion">

  <div id="cuadro1">
      <p><b>Sobre nosotros</b></p>
      <hr class="hrinfo1">
      <p>Hola ayudadores del mundo! Somos una tienda que vende componentes de segunda y nuevos que son importados
          desde bogota para diseñar
          tu pc de la mejor manera, puedes incontrar silla, portatiles, monitores, chasis y mucho mas, todo esto es
          para que trabaje de la mejor
          manera con un buen pc tambien le tenemos un opcion de poder intercambiar componentes dañados o viejos.
          trabajamos a nivel cafetero con envio.
      </p>
  </div>

  <div class="clear"></div>

  <div id="cuadro2">
      <p><b>Contacto</b></p>
      <hr class="hrinfo">
      <p>ecotecno5895@gmail.com</p>
      <p>3217767865 - 3005334694</p>

      <div id="redes">

          <a class="fb" href="#"><img src="https://res.cloudinary.com/dspugxtgr/image/upload/v1687838965/facebook_u2udk9.png" alt="" width="80px"></a>

          <a class="insta" href="#"><img src="https://res.cloudinary.com/dspugxtgr/image/upload/v1687838965/instragram_vonvwz.png" alt="" width="50px"></a>
      </div>

  </div>

  <div class="clear"></div>


  <div id="cuadro3">
      <p><b>Menú</b></p>
      <hr class="hrinfo">
      <p>Politicas de garantia</p>
      <p>Terminos y condiciones</p>
      <p>Politicas de privacidad</p>
  </div>

  <hr class="linea">

  <div class="clear"></div>
  