.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  main {
    background-color: white;
    margin: 0 auto;
    width: 1900px;
    height: 100%;
    border: 0.1px solid grey;
  }
  
  .hijo {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(30, 238, 93, 0.2);
    height: 50vh;
    width: 100vh;
  }

  .imagen {
    flex: 0 0 auto;
    margin-right: 20px;
    margin-bottom: 300px;
  }
  
  .imagen img {
    max-width: 100%;
    height: 200px;
    max-height: 200px;
    
  }


  
  .formulario {
    margin-bottom: 20px;
    flex: 1 1 auto;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="time"],
  textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    background-color: #00ff88;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  *{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }