<div id="principal">
    <p id="nombre"><b>Ecotecnology / </b></p>
    <p id="Contacto"><b>Contacto: Cel 3217767865</b></p>
    

</div>
<div class="clear"></div>
<hr>

<img class="logo" src="https://res.cloudinary.com/dspugxtgr/image/upload/v1687838965/Logo_yfgnqs.jpg" alt="">


<div class="container1">
    <form action="" method="get" class="search-bar">
        <input class="input1" type="text" placeholder="Buscar" name="q">
        <button type="submit"><img src="https://res.cloudinary.com/dspugxtgr/image/upload/v1687838964/busqueda_t2piuj.png" alt="" width="65px"></button>
    </form>
</div>

<div class="clear"></div>

    <a [routerLink]="[ '/Agenda-Administrador']"><img src="https://res.cloudinary.com/dspugxtgr/image/upload/v1687838966/reciclajep_n6fepf.jpg" alt="" id="reciclaje"></a>
<div class="clear"></div>        
<a [routerLink]="[ '/Agenda-Administrador']"><p id="reciclajep">Reciclaje</p></a>

<div class="clear"></div>

<header id="carrito">
    <button id="boton-carrito"><img src="https://res.cloudinary.com/dspugxtgr/image/upload/v1687838964/carrito_de_compras_ztdwgy.png" alt="" width="65px"><span id="contadorCarrito">0</span></button>
</header>



  <div class="modal-contenedor">
    <div class="modal-carrito">
        <h3>Carrito</h3>
        <button id="carritoCerrar"><i class="fas fa-times-circle"></i></button>
        <div id="carrito-contenedor">
        </div>
        <p class="precioProducto">Precio total: $<span id="precioTotal">0</span></p>
        <button id="vaciar-carrito" class="boton-agregar">Vaciar carrito</button>
        <button><a href="./pago.html" id="comprar">Comprar</a></button>
    </div>
</div>

<div class="clear"></div>

<img src="https://res.cloudinary.com/dspugxtgr/image/upload/v1687838965/log_in_newvip.png" alt="" id="login">

<div class="clear"></div>
<div id="cerrar">
    <ul class="cseccion">
        <li><a href="" id="ccuadro"></a>
        <ul>
            <li><a href="">Perfil</a></li>
            <li><a href="">Configuracion</a></li>
            <li><a [routerLink]="[ '/home']">Cerrar seccion</a></li>
        </ul>
    </li>
    </ul>
</div>


