* {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#principal{
    background: rgb(14, 111, 156);
    padding: 20px;

}



.logo{
    margin: 30px 0px 0px 80px;
    float: left;
    width: 350px;
}

#nombre{
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3cff00;
    animation-name: nombreanimacion;
    animation-duration: 9s;
    position: relative;
    margin-left: -200px;
}
@keyframes nombreanimacion {
    0% {color: #3cff00; left: -700px; top: 0px;}
    25%{color: #3cff00; left: -500px;}
    50% {color: #3cff00; left: -300px;}
    75%{color: #3cff00; left: -200px;}
    100% {color: #3cff00; left: 0;}
}
#Contacto{
    float: right;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3cff00;
    margin-bottom: -10px;
    margin-top: -22px;
    margin-right: 715px;
    animation-name: contactoanimacion;
    animation-duration: 9s;
    position: relative;
}

@keyframes contactoanimacion{
    0% {color: #3cff00; right: -650px;}
    25%{color: #3cff00; right: -500px;}
    50% {color: #3cff00; right: -300px;}
    75%{color: #3cff00; right: -200px;}
    100% {color: #3cff00; right: 0px;}
}

#nombre{
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}


.clear{
    clear: both;
}

#boton-carrito {
    border: none;
    color: #000;
    font-size: 40px;
    background-color: white;
    border-radius: 50%;
    padding: 10px 25px;
    transition: all .3s;
}
#boton-carrito:hover {
    cursor: pointer;
}
#boton-carrito:focus {
    outline: none;
}
#contadorCarrito{
    font-size: 30px;
}
#precio{
    color: rgb(14, 111, 156);
    margin-top: 68px;
    margin-left: 150px;
    margin-bottom: 73px;
    font-size: 25px;
}

.modal-contenedor{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}
.precioProducto {
    font-weight: 700;
}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: royalblue;
    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: royalblue;
    border: none;
    background-color: white;
}
.modal-carrito #comprar{
    text-align: center;
    text-decoration: none;
    background-color: royalblue;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
    border: none;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    
}
.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid royalblue;
}

.boton-eliminar {
    background-color: white;
    color: red;
    border: none;
    font-size: 20px;
}
.boton-agregar {
    background-color: royalblue;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    border: none;
}
.boton-agregar:hover {
    cursor: pointer;
}
.boton-agregar:focus {
    outline: none;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}
.search-bar{
    width: 1000%;
    max-width: 700px;
    background: rgba(255,255,255,0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 108px 170px;
    backdrop-filter: blur(4px) saturate(100%);
}
.search-bar input{
    flex: 1;
    width: 150px;
    border-radius: 50px;
    outline: none;
    padding: 10px 15px;
    font-size: 20px;
    color: black;
    padding-right: 300px;
}
::placeholder{
    color: black;
}
.search-bar{
    color: black;
}
.search-bar button{
    width: 150px;
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #58629b;
    cursor: pointer;
}

#reciclaje{
    float: right;
    width: 70px;
    margin: -180px 320px 48px 0px;
}

#reciclajep{
    text-decoration: none;
    font-size: 20px;
    color: #000;
    float: right;
    margin: -110px 304px 68px 0px;
}
#carrito{
    float: right;
    margin: -180px 170px 48px 0px;
}


#login{
    float: right;
    width: 80px;
    margin-left: 1000px;
    margin-right: 80px;
    margin-top: -180px;
}

#cerrar{
    float: right;
    width: 80px;
    margin-left: 1000px;
    margin-right: 50px;
    margin-top: -160px;
}

.cseccion li a{
    color: #000;
    text-decoration: none;
    padding: 10px 35px;
    display: block;
}

.cseccion li a:hover{
    background-color: #434343;
    color: rgb(50, 252, 0);
}

.cseccion > li{
    float: right;
    margin: 5px 25px;
}

#ccuadro{
    height: 60px;
    width: 25px;
    background-color: transparent;
}
.cseccion li ul{
    display:none;
    position: absolute;
    width: 160px;
}
.cseccion li:hover > ul{
    display: block;
}

#header{
    margin:-10px 0px 200px 400px;
    width: 1500px;
}

ul, ol{
    list-style: none;
}

.nav li a{
    color: #000;
    text-decoration: none;
    padding: 10px 25px;
    display: block;
    border-radius: 50px;
}

.nav li a:hover{
    background-color: #434343;
    color: rgb(50, 252, 0);
}
.nav > li{
    float: left;
    margin: 0px 25px;
}
.nav li ul{
    display:none;
    position: absolute;
    width: 140px;
}
.nav li:hover > ul{
    display: block;
}
.htitulos{
    border-bottom: 1px solid #000;
    border-radius: 50px;
    box-shadow: 0 0 20px #bca1b6;
}